

.redAlert {
    background-color: red;
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground{
    50%		{ background-color: white}

}

.sal-title {
    color: whitesmoke;
    font-size: large;
    padding: 1em;
}


.table-container {
    padding: 1em;
}

#monthlyOut {
    padding: 2em;
    text-align: center;
    font-size: larger;
}


th {
    font-size: 18px;
}